{% extends 'base.html' %}

{% block title %}
Hostel | Allocations
{% endblock %}

{% block style %}
<style>
    .allot {
        width: 70%;
        margin: 0 auto;
    }
    .allot table {
        border-collapse: collapse;
        width: 100%;
    }
    .allot th, .allot td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: smaller;
    }
    .allot th {
        background-color: #f2f2f2;
    }
    .allot tr {
        background-color: #f2f2f2;
    }
    .allot tr td a {
        color: blue;
    }
    h5{
        color: black;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Room Details</h5>
    <div class="allot">
        <table>
            <tr>
                <th>Room Number</th><th>Students</th><th>Floor</th><th>Action</th>
            </tr>
            {% for a in alloted %}
            <tr>
                <td>{{a.room_number}}</td>
                <td>{{a.name}}</td>
                <td>{{a.room_number.floor}}</td>
                <td><a href="{% url 'edit_allocation' a.name %}">Edit</a>/<a href="{% url 'delete_allocation' a.name %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}