{% extends 'base.html' %}

{% block title %}
Hostel | Allocations
{% endblock %}

{% block style %}
<style>
    .main-block{
        margin-top: 10px;
    }
    .allot {
        width: 70%;
        margin: 0 auto;
    }
    .allot table {
        border-collapse: collapse;
        width: 100%;
    }
    .allot th, .allot td {
        border: none;
        text-align: left;
        padding: 8px;
    }
    .allot th ,.allot td{
        background-color: #EDF4F2;
        color: #31473A;
    }
    .allot tr td a {
        color: black;
        text-decoration: none;
    }
    .allot tr td a:hover{
        opacity: 0.5;
        text-decoration: underline;
    }
    .ignore-row td{
        background-color: #31473A;
    }
    h5{
        color: #EDF4F2;
        text-align: center;
        margin-bottom: 25px;
    }
</style>
{% endblock %}

{% block content %}
<div class="main-block">
    <h5>Room Details</h5>
    <div class="allot">
        <table>
            <tr>
                <th>Room Number</th><th>Students</th><th>Floor</th><th>Action</th>
            </tr>
            <tr class="ignore-row">
                <td></td><td></td><td></td><td></td>
            </tr>
            {% for a in alloted %}
            <tr>
                <td>{{a.room_number}}</td>
                <td>{{a.name}}</td>
                <td>{{a.room_number.floor}}</td>
                <td><a href="{% url 'edit_allocation' a.name %}">Edit</a>/<a href="{% url 'delete_allocation' a.name %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}