{% extends 'base.html' %}

{% block title %}
hostel | Attendance
{% endblock %}

{% block style %}
<style>
    .attendance-form {
        width: 25%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        background-color: #EDF4F2;
    }
    .attendance-form label {
        margin-bottom: 8px;
        color: #31473A;
        margin-left: 5px;
    }

    .attendance-form input[type="date"]{
        margin-bottom: 8px;
    }

    .attendance-form input[type="checkbox"]{
        margin-bottom: 5px;
    }

    .attendance-form input[type="submit"] {
        padding: 5px 5px 5px 5px;
        background-color: #31473A;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 8px;
    }

    .attendance-form input[type="submit"]:hover {
        opacity: 0.5;
    }
    
    h5{
        color: #EDF4F2;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h5>Attendance Form</h5>
<div class="attendance-validation">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="attendance-form">
        <form action="{% url 'mark_attendance' %}" method="post">
            {% csrf_token %}
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="{{ today }}"> <br> <!-- Set default value to today's date -->
            {% for i in attendance %}
                <input type="checkbox" id="{{ i.name }}" name="name" value="{{ i.name }}">
                <label for="{{ i.name }}">{{ i.name }}</label>
                <br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>
{% endblock %}
