{% extends 'base.html' %}

{% block title %}
hostel|Attendance
{% endblock %}

{% block content %}
<div>
    <form action="{% url 'mark_attendance' %}" method="post">
        {% csrf_token %}
        <input type="date"> <br>
        {% for i in attendance %}
            <input type="checkbox" name="{{i.name}}" value="{{i.name}}">
            <label for="{{i.name}}">{{i.name}}</label>
            <br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}