{% extends 'hostel/base.html' %}

{% block title %}
Hostel | BillForm
{% endblock %}

{% block style %}
<style>
    .main{
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .billform {
        width: 40%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        background-color: #EDF4F2;
        font-size: smaller;
    }
    .form-fields {
        margin-bottom: 20px;
    }
    .form-field {
        margin-bottom: 15px;
    }
    .form-field label {
        display: block;
        margin-bottom: 5px;
        color: #31473A;
    }

    .form-field input[type="number"],
    .form-field input[type="date"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .submit-input input[type="submit"] {
        background-color: #071952;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    .submit-input input[type="submit"]:hover {
        opacity: 0.5;
    }

    h5{
        color: #071952;
        text-align: center;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
</style>
{% endblock %}

{% block content %}

{% if error_message %}
<div style="color: red; border-color: #f5c6cb; padding: 10px; margin-bottom: 10px; text-align: center;">
    {{ error_message }}
</div>
{% endif %}
<div class="main">
    <div class="billform">
        <h5>Generate Mess Bill</h5>
        <form method="post">
            {% csrf_token %}
            <div class="form-fields">
                <div class="form-field">
                    <label for="{{ form.start_date.id_for_label }}">Start Date:</label>
                    {{ form.start_date }}
                </div>

                <div class="form-field">
                    <label for="{{ form.end_date.id_for_label }}">End Date:</label>
                    {{ form.end_date }}
                </div>
                
                <div class="form-field">
                    <label for="{{ form.number_of_students.id_for_label }}">Total Students:</label>
                    {{ form.number_of_students }}
                </div>
                
                <div class="form-field">
                    <label for="{{ form.total_mess_amount.id_for_label }}">Total Mess Amount:</label>
                    {{ form.total_mess_amount }}
                </div>

                <div class="form-field">
                    <label for="{{ form.room_rent.id_for_label }}">Room Rent:</label>
                    {{ form.room_rent }}
                </div>

                <div class="form-field">
                    <label for="{{ form.staff_salary.id_for_label }}">Staff Salary:</label>
                    {{ form.staff_salary }}
                </div>

                <div class="form-field">
                    <label for="{{ form.electricity_bill.id_for_label }}">Electricity Bill:</label>
                    {{ form.electricity_bill }}
                </div>
            </div>
            <div class="submit-input">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
