{% extends 'base.html' %}

{% block title %}
hostel | allot
{% endblock %}

{% block style %}
<style>
    .billform {
        width: 40%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        background-color: #EDF4F2;
        font-size: smaller;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #31473A;
    }
    input[type="date"],
    input[type="number"]
        {
        width: 70%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"]{
        background-color: #31473A;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button[type="submit"]:hover{
        opacity: 0.5;
    }
    h5{
        color: #EDF4F2;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Generate Mess Bill</h5>
    <div class="billform">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
