{% extends 'base.html' %}

{% block title %}
Hostel | Home
{% endblock %}

{% block style %}
<style>
    h4{
        text-align: center;
        padding-top: 0px;
    }
</style>
{% endblock %}

{% block heading %}
<h4>K. V. Kunhambu Memorial Women's Hostel</h4>
<h3>NEHRU ARTS AND SCIENCE COLLEGE KANHANGAD</h3>
<h4>Hostel Management System</h4>
<div class="f-btn">
    <button type="button"><span></span>ADD STUDENT</button>
    <button type="button"><span></span>ATTENDANCE</button>
</div>
{% endblock %}