{% extends 'base.html' %}

{% block title %}
Hostel | Bill
{% endblock %}

{% block style %}
<style>
    .bill {
        width: 70%;
        margin: 0 auto;
    }
    .bill table {
        border-collapse: collapse;
        width: 100%;
    }
    .bill th, .bill td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: smaller;
    }
    .bill th {
        background-color: #f2f2f2;
    }
    .bill tr {
        background-color: #f2f2f2;
    }
    .bill tr td a {
        color: blue;
    }
    h5{
        color: black;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Bill details of students</h5>
    <div class="bill">
        <table>
            <thead>
                <tr>
                    <th>Name</th> <th>Amount</th><th>Month</th><th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.name.name}}</td> <td>{{bill.total}}</td><td>{{bill.month}}</td><td>{{bill.year}}</td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock %}