{% extends 'base.html' %}

{% block title %}
Hostel | Students
{% endblock %}

{% block style %}
<style>
    .student-layout {
        width: 100px;
        height: 120px;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
        background-color: #EDF4F2;
        border-radius: 2px;
    }
    .image-container{
        width: 50px; 
        height: 50px;
        overflow: hidden;
        position: relative;
        margin-left: 25%;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        
    }
    .img-stud {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .student-name {
        font-size: 14px;
        margin-bottom: 4px;
        color: #31473A;
    }
    .link{
        font-size: 12px;
        color: #31473A;
        text-decoration: none;
        margin-bottom: 2px;
    }
    .link:hover{
        text-decoration: underline;
        opacity: 0.5;
    }
    h5{
        color: #EDF4F2;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Students</h5>
    {% for student in stud %}
        <div class="student-layout">
            <div class="image-container">
                {% if student.photo %}
                <img src="{{student.photo.url}}" alt="{{student.name}}" class="img-stud">
                {% else %}
                    <span>No photo available</span>
                {% endif %}
            </div>
            <div class="student-name">{{student.name}}</div>
            <div>
                <a href="{% url 'edit_student' student.id %}" class="link">Edit</a> / <a href="{% url 'delete_student' student.id %}" class="link">delete</a>
                <a href="{% url 'view_details' student.id %}" class="link">View details</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
