{% extends 'base.html' %}

{% block title %}
Hostel | Attendance
{% endblock %}

{% block style %}
<style>
    .allot {
        width: 70%;
        margin: 0 auto;
    }
    .allot table {
        border-collapse: collapse;
        width: 100%;
    }
    .allot th, .allot td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
        font-size: smaller;
    }
    .allot th {
        background-color: #f2f2f2;
    }
    .allot tr {
        background-color: #f2f2f2;
    }
    .allot tr td a {
        color: blue;
    }
    h5{
        color: black;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Attendance Report</h5>
    <div class="allot">
        <table>
            <tr>
                <th>Name</th><th>Date</th>
            </tr>
            {% for a in summary %}
            <tr>
                <td>{{a.name}}</td>
                <td>{{a.dates}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
