{% extends 'base.html' %}

{% block title %}
Hostel | Attendance
{% endblock %}

{% block style %}
<style>
    .absents {
        width: 70%;
        margin: 0 auto;
    }
    .absents table {
        border-collapse: collapse;
        width: 100%;
    }
    .absents th, .absents td {
        border: none;
        text-align: left;
        padding: 10px;
        font-size: smaller;
    }
    .absents th, .absents td{
        background-color: #f2f2f2;
        color: #31473A;
    }
    .ignore-row-summary td{
        background-color: #31473A;
    }

    h5{
        color: #EDF4F2;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <h5>Attendance Report</h5>
    <div class="absents">
        <table>
            <tr>
                <th>Name</th><th>Date</th>
            </tr>
            <tr class="ignore-row-summary">
                <td></td><td></td>
            </tr>
            {% for a in summary %}
            <tr>
                <td>{{a.name}}</td>
                <td>{{a.dates}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
